body {
	font-family: 'Source Sans Pro', sans-serif;
}

#header {
	text-align: center;
	padding: 18px 0;
	/* remove the border-bottom eventually */
}

.headerLink {
	font-weight: 600;
	margin-right: 30px;
	font-size: 17px;
}

#bodyWrapper {
	/* 62px for height of header, so multiply by 2 */
	height: calc(100vh - 116px);
	width: calc(100vw - 116px);
	margin-left: 58px;
	background-color: #fbfbfb;
	overflow-x: scroll;
}

#firstScreen {
	/* lock the height and width */
	height: calc(100vh - 116px);
	width: calc(100vw - 116px);
	background-image: url('Aurora.png');
	background-repeat: no-repeat;
	/*background-size: cover;*/
	background-size: 100% 100%;
}

.firstScreenFadeWrapper {
	opacity: 0;
}

.firstScreenTitle {
	font-weight: 300;
	font-size: 24px;
	text-align: center;
	/* gradient taken from: http://www.cssmatic.com/gradient-generator#'\-moz\-linear\-gradient\%28left\%2C\%20rgba\%28165\%2C80\%2C194\%2C1\%29\%200\%25\%2C\%20rgba\%28165\%2C80\%2C194\%2C1\%29\%2026\%25\%2C\%20rgba\%28230\%2C176\%2C39\%2C1\%29\%20100\%25\%29\%3B' */
	background: rgba(165,80,194,1);
	background: -moz-linear-gradient(left, rgba(165,80,194,1) 0%, rgba(165,80,194,1) 26%, rgba(230,176,39,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(165,80,194,1)), color-stop(26%, rgba(165,80,194,1)), color-stop(100%, rgba(230,176,39,1)));
	background: -webkit-linear-gradient(left, rgba(165,80,194,1) 0%, rgba(165,80,194,1) 26%, rgba(230,176,39,1) 100%);
	background: -o-linear-gradient(left, rgba(165,80,194,1) 0%, rgba(165,80,194,1) 26%, rgba(230,176,39,1) 100%);
	background: -ms-linear-gradient(left, rgba(165,80,194,1) 0%, rgba(165,80,194,1) 26%, rgba(230,176,39,1) 100%);
	background: linear-gradient(to right, rgba(165,80,194,1) 0%, rgba(165,80,194,1) 26%, rgba(230,176,39,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a550c2', endColorstr='#e6b027', GradientType=1 );
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.firstScreenDescription {
	text-align: center;
	margin: 0 auto;
	width: 34%;
	font-weight: 300;
	font-size: 17px;
}

.dropletGifWrapper {
	text-align: center;
}

#secondScreen {
	height: calc(100vh - 116px);
	width: calc(100vw - 116px);
	position: relative;
	overflow: hidden;
}

#secondScreen .content {
	position: fixed;
	top: 43%;
	color: #fff;
	display: none;
	text-align: center;
	margin: 0 auto;
	left: 0;
	right: 0;
}

#secondScreen .content hr {
	width: 25%;
	border: none;
	height: 4px;
	background-color: #fff;
}

#secondScreen .content p {
	width: 45%;
	margin: 0 auto;
	font-weight: 100;
	font-size: 24px;
}

#thirdScreen {
	height: calc(100vh - 116px);
	width: calc(100vw - 116px);
	position: relative;
	overflow: hidden;
	background-color: #e8e8e8;
}

#thirdScreen .header {
	text-align: center;
	font-weight: 800;
	font-weight: 1.17em;
	margin: 30px 0;
}

#thirdScreen .itemBlock {
	/*position: relative;*/
	/*top: 30%;*/
	margin-top: 100px;
	height: 300px;
	width: 600px;
	background-color: pink;
}
